@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin img($width, $height){
    width: $width;
    height: $height;
    object-fit: cover;
    object-position: center;
}
